body {
    font-family: 'Roboto', sans-serif;
    background: #862633;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 20px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    animation: slideInOut 8s ease-in-out infinite;
}

@keyframes slideInOut {
    0% { top: -100px; }
    10%, 90% { top: 20px; }
    100% { top: -100px; }
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#map {
    height: 80vh;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.marker-highlight {
    animation: bounce 1s infinite, growShrink 1s;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

@keyframes growShrink {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
}

.overlay-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.refresh-overlay, .timer-overlay {
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
}

.refresh-overlay {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.refresh-overlay:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.local-time-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1000;
}

.accordion {
    background-color: #6c1d45;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.accordion:hover {
    background-color: #7d2a54;
}

.panel {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: none;
    overflow-y: auto;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bus-numbers-toggle {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #6c1d45;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.bus-numbers-toggle:hover {
    background-color: #7d2a54;
    color: #fff;
}

.bus-numbers {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: none;
}

.bus-number {
    background: #fff;
    color: #6c1d45;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.bus-number:hover {
    background: #7d2a54;
    color: #fff;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .container {
        padding: 15px;
    }
}
